/* Set Grid Layout */
#blog-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
}

/* remove link underlines */
* {
  text-decoration: none;
}

/* set headings color */
h1,
h2,
h3,
strong {
  color: #582c2c;
}

.blog-header,
.blog-aside,
.blog-main,
.quotes {
  /* border: 1px solid #444; */
  box-shadow: lightgray 1px 5px 5px;
}

.quotes {
  text-align: center;
  /* margin: auto; */
}

/* remove list style */
.archive ul {
  list-style: none;
}

/* make header and footer span all columns */
.blog-header,
.blog-footer {
  grid-column: 1/-1;
}

/* Archive links to display a bit lower on mobile media */
.blog-aside {
  grid-column: 1/-1;
  grid-row: 3/4;
}

/* set avatar appearance */
.avatar {
  width: 50px;
  height: 60px;
  border-radius: 8px;
}
